%p#notice= notice

%p
  %b Content:
  = @comment.content
%p
  %b Person:
  = @comment.person
%p
  %b Article revision:
  = @comment.article_revision

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
