= simple_form_for @person do |f|
  = f.input :degree, label: "Stopień"
  = f.input :name, label: "Imię"
  = f.input :surname, label: "Nazwisko"
  = f.input :email, label: "E-mail"
  = f.input :sex, collection: Person::SEX_MAPPING.keys, label: "Płeć"
  = f.input :discipline, label: "Dyscyplina naukowa"
  = f.input :competence, label: "Kompetencje"
  = f.input :photo, label: "Zdjęcie"
  .roles
    %strong Role
    = f.collection_check_boxes :roles, Person::ROLE_MAP.keys, :to_s, :to_s, include_blank: false, item_wrapper_class: 'checkbox_container'
  - label = @person.new_record? ? "Utwórz" : "Zapisz"
  = f.submit label, class: %w{btn btn-primary btn-outline}
