= simple_form_for @person do |f|
  = f.input :name, label: "Imię"
  = f.input :surname, label: "Nazwisko"
  = f.input :email, label: "E-mail"
  = f.input :sex, collection: Person::SEX_MAPPING.keys, label: "Płeć"
  = f.hidden_field :roles, value: "recenzent", label: "Role", name: "person[roles][]"
 
  = f.submit 'Dodaj propozycję', class: %w{btn btn-primary btn-outline}
  = button_to 'Zakończ dodawanie recenzentów', finish_reviews_path
