.scroll-panel-header
  = link_to "Nowa osoba", new_person_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title Osoby zarejestrowane w systemie
.scroll-panel-body
  = simple_search_form_for @query do |f|
    = f.input :surname_start, label: "Nazwisko"
    = f.input :competence_cont, label: "Kompetencje"
    = f.input :roles_array_contains, label: "Rola", collection: Person::ROLE_MAP.keys, include_blank: true
    = f.submit "Filtruj", class: %w{btn btn-default btn-sm}
  %table.table.table-hover.table-admin
    %thead
      %tr
        %th Stopień
        %th Nazwisko
        %th Imię
        %th E-mail
        %th Płeć
        %th Role
        %th Zgłoszenia
        %th Recenzje
    %tbody
      - @people.each do |person|
        %tr.table-row-link{"data-url" => person_path(person) }
          %td= person.degree
          %td= link_to person.surname, person
          %td= person.name
          %td= person.email
          %td= acronym(Person::SEX_MAPPING[person.sex],person.sex)
          %td= raw(person.roles.map{|r| acronym(Person::ROLE_MAP[r],r) }.join(", "))
          %td= person.authorships.count
          %td= person.reviews.count
