.scroll-panel-header
  = link_to "Osoby", people_path, class: %w{btn btn-default btn-sm pull-right}
  = link_to "Nowa osoba", new_person_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    = @person.full_name
.scroll-panel-body
  = image_tag(@person.photo, alt:"#{@person.full_name} - zdjęcie")
  %dl
    %dt E-mail
    %dd= @person.email
  %dl
    %dt Płeć
    %dd= @person.sex
  %dl
    %dt Dyscypliny
    %dd= @person.discipline
  %dl
    %dt Kompetencje
    %dd= @person.competence
  %dl
    %dt Role w systemie
    %dd= @person.roles.join(", ")
  = link_to "Edytuj", edit_person_path(@person), class: %w{btn btn-primary btn-sm}
  %h3 Afiliacje
  %table.table.table-hover.table-admin
    %thead
      %tr
        %th Kraj
        %th Instytucja
        %th Wydział/instytut
        %th Od
        %th Do
        %th
    %tbody
      - @person.affiliations.each do |affiliation|
        %tr
          %td= affiliation.country
          %td= affiliation.institution
          %td= affiliation.department_name
          %td= affiliation.year_from
          %td= affiliation.year_to
          %td.text-right
            = destroy_button(affiliation,"Czy na pewno chcesz usunąć tę afiliację?")
  = link_to "Dodaj afiliację", new_affiliation_path(person_id: @person.id), class: %w{btn btn-default btn-sm}
  - if @person.roles.include?("autor")
    %h3 Zgłoszone artykuły
    %table.table.table-hover.table-admin
      %thead
        %tr
          %th Tytuł
          %th Data nadesłania
          %th Status
          %th
      %tbody
        - @person.authorships.each do |authorship|
          %tr
            %td= link_to authorship.title, authorship.submission
            %td= authorship.date.strftime("%d-%m-%Y")
            %td{class: "#{Submission::STATUS_MAPPING[authorship.status]}"}= authorship.status
            %td.text-right
              = destroy_button(authorship)
    = link_to "Dodaj zgłoszenie", new_submission_path(author_id: @person.id), class: %w{btn btn-default btn-sm}
  - if @person.roles.include?("recenzent")
    %h3 Przypisane recenzje
    %table.table.table-hover.table-admin
      %thead
        %tr
          %th Tytuł
          %th Data pytania
          %th Status
          %th
      %tbody
        - @person.reviews.each do |review|
          %tr
            %td= link_to review.title, review
            %td= review.asked.strftime("%d-%m-%Y")
            %td{class: "#{Review::STATUS_MAPPING[review.status]}"}= review.status
            %td.text-right
              = destroy_button(review)
    = link_to "Dodaj recenzję", new_review_path(person_id: @person.id), class: %w{btn btn-default btn-sm}
  - if @person.roles.include?("redaktor")
    %h3 Redagowane artykuły
    %table.table.table-hover.table-admin
      %thead
        %tr
          %th Tytuł
          %th Status
          %th
      %tbody
        - @person.submissions.each do |submission|
          %tr
            %td= link_to submission.title, submission
            %td{class: "#{Submission::STATUS_MAPPING[submission.status]}"}= submission.status
            %td.text-right
              = destroy_button(submission)
    /= link_to "Dodaj", edit_person_path(@person), class: %w{btn btn-default btn-sm}
