.scroll-panel-header
  = link_to "Wróć do numeru", issue_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Statystyki numeru
    = @issue.title
.scroll-panel-body
  %p{style: "margin-top: 20px;"}
    Recenzenci z Uniwersytetu Jagiellońskiego: #{@issue.count_uj_submissions}
    (#{@issue.count_uj_percentage}%)
    %br
    Recenzenci z innych uczelni: #{@issue.count_other_submissions}
    (#{@issue.count_other_percentage}%)