.scroll-panel-header
  = link_to "Nowy numer", new_issue_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title Numery rocznika
.scroll-panel-body
  %table.table.table-hover.table-admin
    %thead
      %tr
        %th Numer
        %th Rok
        %th Liczba zgłoszeń
        %th Liczba artykułów
        %th Status
    %tbody
      - @issues.each do |issue|
        %tr.table-row-link{"data-url" => issue_path(issue) }
          %td= link_to issue.volume, issue
          %td= issue.year
          %td= issue.submissions.count
          %td= issue.articles.count
          %td= issue.status
