.scroll-panel-header
  = link_to "Wróć do numeru", issue_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Recenzenci numeru
    = @issue.title
.scroll-panel-body
  - @issue.submissions.each do |submission|
    .scroll-panel_body
      - submission.reviews.each do |review|
        Recenzent: 
        = link_to review.reviewer, review.person
        %br
  %p{style: "margin-top: 20px;"}
    Recenzenci z Uniwersytetu Jagiellońskiego: #{@count_uj} (
    - if @count_uj > 0 || @count_other > 0
      #{@count_uj*100/(@count_uj+@count_other)}
    - else
      0 
    \%)
    %br
    Recenzenci z innych uczelni: #{@count_other} (
    - if @count_uj > 0 || @count_other > 0
      #{@count_other*100/(@count_uj+@count_other)}
    - else
      0 
    \%)