.scroll-panel-header
  = link_to "Wróć do numeru", issue_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Statystyki do numeru
    = @issue.title
.scroll-panel-body
  -if @issue.prepared?
    %table.table.table-hover.table-admin
      %thead
        %tr
          %th Parametr
          %th Liczba
          %th W sumie
          %th Udział procentowy %
      %tbody
        %tr
          %td Liczba artykułów w j. polskim
          %td= @issue.submissions_count(:polish)
          %td= @issue.total_submissions_count
          %td= @issue.submissions_percentage(:polish)
        %tr
          %td Liczba artykułów w j. angielskim
          %td= @issue.submissions_count(:english)
          %td= @issue.total_submissions_count
          %td= @issue.submissions_percentage(:english)
        %tr
          %td Liczba autorów z afiliacją polską
          %td= @issue.authors_count(:polish)
          %td= @issue.total_authors_count
          %td= @issue.authors_percentage(:polish)
        %tr
          %td Liczba autorów z afiliacją zagraniczną
          %td= @issue.authors_count(:foreign)
          %td= @issue.total_authors_count
          %td= @issue.authors_percentage(:foreign)
        %tr
          %td Liczba recenzentów z Uniwersytetu Jagiellońskiego
          %td= @issue.reviewers_count(:uj)
          %td= @issue.reviewers_count_by_institution
          %td= @issue.reviewers_percentage(:uj)
        %tr
          %td Liczba recenzentów z innych uczelni
          %td= @issue.reviewers_count(:other)
          %td= @issue.reviewers_count_by_institution
          %td= @issue.reviewers_percentage(:other)
        %tr
          %td Liczba recenzentów z Polski
          %td= @issue.reviewers_count(:polish)
          %td= @issue.reviewers_count_by_country
          %td= @issue.reviewers_percentage(:polish)
        %tr
          %td Liczba recenzentów spoza Polski
          %td= @issue.reviewers_count(:foreign)
          %td= @issue.reviewers_count_by_country
          %td= @issue.reviewers_percentage(:foreign)
