.scroll-panel-header
  = link_to "Wróć do numeru", issue_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Recenzje zgłoszeń do numeru
    = @issue.title
.scroll-panel-body
  - @issue.submissions.each do |submission|
    %h2= link_to submission.title(false), submission
    %i= submission.authors_inline
    .scroll-panel_body
      - submission.reviews.group_by(&:person).each do |reviewer,reviews|
        %h3
          Recenzent:
          = reviewer.full_name
        - reviews.each do |review|
          %h4
            Wersja
            = review.version
          = simple_format(review.text)
