.scroll-panel-header
  = link_to "Wróć do numeru", issue_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Podsumowanie numeru
    = @issue.title
.scroll-panel-body
  - @issue.articles.order(:issue_position).each do |article|
    .scroll-panel_body
      %h4
        = "#{article.issue_position}. #{article.title}"
        - if article.polish_language?
          %br
          = "(ang.) #{article.english_title}"
      %p
        %strong Autorzy
        - article.authors.each.with_index do |author,index|
          - if index > 0
            ,
          - if author == article.corresponding_author
            = link_to author.full_name, "mailto:#{author.email}"
          - else
            = author.full_name
      %p
        %strong Streszczenie
      %p= article.abstract
      %p
        %strong Słowa kluczowe
      %p= article.keywords

