.scroll-panel-header
  = link_to "Wróć do numeru", issue_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Podsumowanie numeru
    = @issue.title
.scroll-panel-body
  - @issue.articles.order(:issue_position).each do |article|
    .scroll-panel_body
      %h4
        = "#{article.issue_position}. #{article.title}"
        - if article.polish_language?
          %br
          = "(ang.) #{article.english_title}"
      %p
        %strong Streszczenie
      %p= article.abstract
      %p
        %strong Słowa kluczowe
      %p= article.keywords

