.scroll-panel-header
  = link_to "Anuluj", @article, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Edycja artykułu
    %strong= @article.title
.scroll-panel-body
  = simple_form_for @article do |f|
    = f.association :issue, label: "Numer", collection: Issue.latest.all, include_blank: false, label_method: :title
    = f.input :status, collection: Article::STATUS_MAPPING.keys
    = f.input :article_pages, label:"Strony"
    = f.input :link_to_article, label:"Link do ściągnięcia artykuła"
    = f.submit "Zapisz", class: %w{btn btn-primary btn-outline}

