.scroll-panel-header
  = link_to "Artykuły", articles_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    = @article.title
.scroll-panel-body
  %dl
    %dt Autorzy
    %dd= @article.authors_inline
  %dl
    %dt Numer
    %dd= @article.issue_title
  = link_to "Edytuj", edit_article_path(@article), class: %w{btn btn-primary btn-sm}
