.scroll-panel-header
  = link_to "Anuluj", @authorship.submition, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Dodaj autora dla zgłoszenia
    %strong
      = @authorship.title
.scroll-panel-body
  = simple_form_for @authorship do |f|
    = hidden_field_tag :submition_id, @authorship.submition.id
    = f.association :person, label: "Autor", label_method: :full_name, include_blank: false, collection: Person.authors.order([:surname,:name]).all
    = f.input :corresponding, label: "Korespondujący?"
    = f.input :position, label: "Liczba porządkowa"
    = f.submit "Dodaj", class: %w{btn btn-primary btn-outline}
