%h2 Zarejestruj się
= simple_form_for(@user) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
    = f.input :password_confirmation, required: true
  .form-actions
    = f.button :submit, "Zarejestruj się"
