%h2 Zarejestruj się
= simple_form_for(@person) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, required:true, label: "imię"
    = f.input :surname, required:true, label: "nazwisko"
    = f.input :sex, collection: Person::SEX_MAPPING.keys, label: "płeć"
  .form-actions
    = f.button :submit, "Zarejestruj się"
 

