%li= link_to "Osoby", people_path
%li= link_to "Zgłoszone artykuły", submissions_path
%li= link_to "Numery rocznika", issues_path
%li= link_to "Recenzje", reviews_path
%li= link_to "Edycja", "storytime"
