%head
  - if request.url.include? "/public_articles/"
    %meta{:name => "citation_title", :content => @article.title}
    - @article.authors_metadata.each do |author|
      %meta{:name => "citation_author", :content => author}
    %meta{:name => "citation_publication_date", :content => @article.year}
    %meta{:name => "citation_journal_title", :content => "Rocznik Kognitywistyczny"}
    %meta{:name => "citation_issue", :content => @article.issue_title}
  %title= @site_title
  %meta{:content => "http://rocznik.kognitywistyka.eu/", :property => "og:url"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "Rocznik Kognitywistyczny", :property => "og:title"}/
  %meta{:content => "Rocznik Kognitywistyczny", :property => "og:site_name"}/
  %meta{:content => "pl_PL", :property => "og:locale"}/
  %meta{:content => "https://scontent.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/993579_214000795601414_6530515180633938649_n.png?oh=0e1206aa6bbe51a6a0140437aaf1d5b5&oe=571504F7", :property => "og:image"}/
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
  %meta{:charset => "utf-8"}/
  %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}
  %meta{:content => "Aleksander Smywiński-Pohl, Marta Siedlecka, Adrianna Smurzyńska", :name => "author"}/
  %meta{:content => "Rocznik Kognitywistyczny -- czasopismo naukowe, 5 punktów MNiSW", :name => "description"}/
  %meta{:content => "kognitywistyka, sztuczna inteligencja, lingwistyka, psychologia, informatyka, filozofia, koło naukowe, konferencja naukowa", :name => "keywords"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}/
  %meta{:content => "index, follow", :name => "robots"}/
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = stylesheet_link_tag    'storytime/application', media: 'all'
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = javascript_include_tag '//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js'
  = csrf_meta_tags
  /[if lt IE 9]
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
