.scroll-panel
  .scroll-panel-header
    = link_to "Nowe zgłoszenie", new_submition_path, class: %w{btn btn-default btn-sm pull-right}
    %h3.scroll-panel-title Zgłoszone artykuły
  .scroll-panel-body
    %table.table.table-hover.table-admin
      %thead
        %tr
          %th Tytuł
          %th Autor korespondujący
          %th Data nadesłania
          %th Status
          %th
      %tbody
        - @submitions.each do |submition|
          %tr.table-row-link
            %td= link_to submition.title, submition
            %td= submition.corresponding_author
            %td= submition.received.strftime("%d-%m-%Y")
            %td= submition.status
            %td.text-right
              = destroy_button(submition,"Czy na pewno chcesz usunąć to zgłoszenie")
