= simple_form_for @submission do |f|
  - if @author_id
    = hidden_field_tag :author_id, @author_id
  = f.input :status, collection: Submission::STATUS_MAPPING.keys
  = f.input :language, label: "Język", collection: %w{polski angielski}, include_blank: false
  = f.association :person, label: "Redaktor", collection: Person.editors.order([:surname,:name]).all, include_blank: false, label_method: :full_name
  = f.association :issue, label: "Nr wydania", collection: Issue.latest.all, include_blank: false, label_method: :title
  = f.input :received, label: "Otrzymano", class: %w{datepicker form-control}, as: :string, input_html: { value: l(f.object.received, format: "%d-%m-%Y") }
  %i.fa.fa-question-circle.helpbox{"data-toggle" => "tooltip", :title => "Sekcja 'Finansowanie' jest przeznaczona do umieszczenia informacji kto finansował badania opublikowane w artykule."}
  = f.input :funding, label: "Finansowanie"
  = f.input :remarks, label: "Uwagi edytora"
  = f.input :polish_title, label: "Tytuł"
  %h3 Język angielski
  = f.input :english_title, label: "Title"
  = f.input :english_abstract, label: "Abstract"
  = f.input :english_keywords, label: "Key words"
  - label = @submission.new_record? ? "Utwórz" : "Zapisz"
  = f.submit label, class: %w{btn btn-primary btn-outline}
