= simple_form_for @submission do |f|
  - if @author_id
    = hidden_field_tag :author_id, @author_id
  = f.input :status, collection: Submission::STATUS_MAPPING.keys unless @submission.new_record?
  = f.input :language, label: "Język", collection: %w{polski angielski}, include_blank: false unless @submission.new_record?
  = f.association :person, label: "Redaktor", collection: Person.editors.order([:surname,:name]).all, include_blank: false, label_method: :full_name unless @submission.new_record?
  = f.input :received, label: "Otrzymano", class: %w{datepicker form-control}, as: :string, input_html: { value: l(f.object.received, format: "%d-%m-%Y") } unless @submission.new_record?
  = f.input :funding, label: "Finansowanie"
  = f.input :remarks, label: "Uwagi edytora" unless @submission.new_record?
  %h3 Język polski
  = f.input :polish_title, label: "Tytuł"
  %h3 Język angielski
  = f.input :english_title, label: "Tytuł"
  = f.input :english_abstract, label: "Streszczenie"
  = f.input :english_keywords, label: "Słowa kluczowe"
  - label = @submission.new_record? ? "Utwórz" : "Zapisz"
  = f.input :article, label: "Artykuł"
  = f.submit label, class: %w{btn btn-primary btn-outline}
