= simple_form_for @submission do |f|
  - if @author_id
    = hidden_field_tag :author_id, @author_id
  = f.input :status, collection: Submission::STATUS_MAPPING.keys
  = f.input :language, label: "Język", collection: %w{polski angielski}, include_blank: false
  = f.association :person, label: "Redaktor", collection: Person.editors.order([:surname,:name]).all, include_blank: false, label_method: :full_name
  = f.input :follow_up_id, label: "Nawiązanie do", collection: Article.all, include_blank: true, label_method: :title
  = f.association :issue, label: "Numer", collection: Issue.latest.all, include_blank: false, label_method: :title
  = f.input :received, label: "Otrzymano", class: %w{datepicker form-control}, as: :string, input_html: { value: l(f.object.received, format: "%d-%m-%Y"), type:"date" }
  = f.input :polish_title, label: "Tytuł", hint: "Polski tytuł artykułu, jeśli artykuł jest w języku polskim"
  = f.input :english_title, label: "Title", hint: "Angielski tytuł artykułu"
  = f.input :english_abstract, label: "Abstract", hint: "Angielskie streszczenie artykułu"
  = f.input :english_keywords, label: "Key words", hint: "Angielskie słowa kluczowe"
  = f.input :funding, label: "Finansowanie", hint: "Sekcja 'Finansowanie' jest przeznaczona do umieszczenia informacji kto finansował badania opublikowane w artykule"
  = f.input :remarks, label: "Uwagi redaktora", hint: 'Pozostałe inforamcje dotyczące artykułu'
  - label = @submission.new_record? ? "Utwórz" : "Zapisz"
  = f.submit label, class: %w{btn btn-primary btn-outline}
