= simple_form_for @submission do |f|
  - if @author_id
    = hidden_field_tag :author_id, @author_id
  = f.input :status, collection: Submission::STATUS_MAPPING.keys
  = f.input :language, label: "Język", collection: %w{polski angielski}, include_blank: false
  = f.association :person, label: "Redaktor", collection: Person.editors.order([:surname,:name]).all, include_blank: false, label_method: :full_name
  = f.association :issue, label: "Nr wydania", collection: Issue.order([:year,:volume]).all, include_blank: false, label_method: lambda { |issue| "#{issue.year} #{issue.volume}"}
  = f.input :received, label: "Otrzymano", class: %w{datepicker form-control}, as: :string, input_html: { value: l(f.object.received, format: "%d-%m-%Y") }
  = f.input :funding, label: "Finansowanie"
  = f.input :remarks, label: "Uwagi edytora"
  %h3 Język polski
  = f.input :polish_title, label: "Tytuł"
  = f.input :polish_abstract, label: "Streszczenie"
  = f.input :polish_keywords, label: "Słowa kluczowe"
  %h3 Język angielski
  = f.input :english_title, label: "Tytuł"
  = f.input :english_abstract, label: "Streszczenie"
  = f.input :english_keywords, label: "Słowa kluczowe"
  - label = @submission.new_record? ? "Utwórz" : "Zapisz"
  = f.submit label, class: %w{btn btn-primary btn-outline}
