.scroll-panel-header
  = link_to "Zgłoszenia", submissions_path, class: %w{btn btn-default btn-sm pull-right}
  = link_to "Nowe zgłoszenie", new_submission_path, class: %w{btn btn-default btn-sm pull-right}
  %dl
  .col-md-1
    - if @submission.polish_language?
      = image_tag('pl.png')
    - else
      = image_tag('gb.png')
  %h3.scroll-panel-title
    = @submission.title
.scroll-panel-body
  .col-sm-offset-2.col-sm-3
    %br
    %dt Status
    %dd{class: "#{Submission::STATUS_MAPPING[@submission.status]}"}= @submission.status
  %dl
  .col-md-3
    %br
    %dt Redaktor
    %dd
      - if @submission.person
        = link_to @submission.editor, @submission.person
      - else
        = @submission.editor
  %dl 
  .col-md-3
    %br
    %dt Numer rocznika
    %dd= @submission.received.strftime("%d-%m-%Y")
  %br
  %dl
  %br
  %br
    %dt Numer rocznika
    %dd
      - if @submission.issue
        = link_to @submission.issue_title, @submission.issue
      - else
        = @submission.issue
  %dl
    %dt Streszczenie
    %dd.more= @submission.abstract
  %dl
    %dt Słowa kluczowe
    %dd= @submission.keywords
  - if @submission.remarks
    %dl
      %dt Uwagi
      %dd= simple_format(@submission.remarks)
  - if @submission.funding
    %dl
      %dt Finansowanie
      %dd= simple_format(@submission.funding)
  = link_to "Edytuj", edit_submission_path(@submission), class: %w{btn btn-primary btn-sm}
  %br
  %br
  %br
  %h3 Autorzy
  %table.table.table-hover.table-admin
    %thead
      %tr
        %th Nazwisko
        %th Korespondujący
        %th Liczba porządkowa
        %th
    %tbody
      - @submission.authorships.each do |authorship|
        %tr
          %td= link_to authorship.author, authorship.person
          %td= authorship.corresponding? ? raw("&#10004;") : ""
          %td= authorship.position
          %td.text-right
            = destroy_button(authorship,"Czy na pewno chcesz usunąć tego autora?")
  = link_to "Dodaj autora", new_authorship_path(submission_id: @submission.id), class: %w{btn btn-default btn-sm}
  %br
  %br
  %h3 Wersje
  %table.table.table-hover.table-admin#version
    %thead
      %tr
        %th Numer
        %th Plik
        %th Nadesłano
        %th Liczba stron
        %th Liczba ilustracji
        %th
    %tbody
      - @submission.article_revisions.each do |revision|
        %tr
          %td= revision.version
          %td
            - if revision.article?
              = link_to revision.file_name, revision.article.url
            - else
              = revision.file_name
          %td= revision.received_date
          %td= revision.pages
          %td= revision.pictures
          %td.text-right
            - sign = revision.accepted? ? raw("&#10004;") : raw("&#10007;")
            = link_to sign, article_revision_path(revision), class: %w{btn btn-outline btn-default}, title: "Zobacz komentarz"
            = edit_button(revision,edit_article_revision_path(revision),"Edytuj komentarz")
            = destroy_button(revision,"Czy na pewno chcesz usunąć tę wersję wraz z recenzjami?")
  = link_to "Dodaj wersję", new_article_revision_path(submission_id: @submission.id), class: %w{btn btn-default btn-sm}
  %br
  %br
  %h3 Recenzje
  %table.table.table-hover.table-admin
    %thead
      %tr
        %th Wersja
        %th Recenzent
        %th Zapytanie
        %th Dealine
        %th Status
        %th
    %tbody
      - @submission.reviews.each do |review|
        %tr
          %td= review.version
          %td= link_to review.reviewer, review.person
          %td= review.asked_date
          %td{class: ("exceeded-deadline" if review.deadline_missed?)}= review.deadline_date
          %td{class: "#{Review::STATUS_MAPPING[review.status]}"}= review.status
          %td{style: "text-align:center;"}= link_to image_tag("/assets/remind_icon.png", size: "32x32"), send_reminder_review_path(review), class: "reminder", method: :post
          .flash
            - if flash[:notice]
              .flash-confirmation= flash[:notice]
          %td.text-right
            = icon_to 'fa-send-o', ask_review_path(review), method: :post, title: "Wyślij zapytanie o recenzję"
            = icon_to 'fa-comment-o', review_path(review), title: "Wyświetl recenzję"
            = icon_to 'fa-pencil-square-o', edit_review_path(review), title: "Edytuj recenzję"
            = destroy_button(review,"Czy na pewno chcesz usunąć tę recenzję?")
  = link_to "Dodaj recenzenta", new_review_path(submission_id: @submission.id), class: %w{btn btn-default btn-sm}
