.scroll-panel-header
  = link_to "Zgłoszenia", submissions_path, class: %w{btn btn-default btn-sm pull-right}
  = link_to "Nowe zgłoszenie", new_submission_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    = @submission.title
.scroll-panel-body
  %dl
    %dt Status
    %dd{class: "#{Submission::STATUS_MAPPING[@submission.status]}"}= @submission.status
  %dl
    %dt Język
    %dd= @submission.language
  %dl
    %dt Redaktor
    %dd
      - if @submission.person
        = link_to @submission.editor, @submission.person
      - else
        = @submission.editor
  %dl
    %dt Otrzymano
    %dd= @submission.received.strftime("%d-%m-%Y")
  %dl
    %dt Streszczenie
    %dd= @submission.abstract
  %dl
    %dt Słowa kluczowe
    %dd= @submission.keywords
  - if @submission.remarks
    %dl
      %dt Uwagi
      %dd= simple_format(@submission.remarks)
  - if @submission.funding
    %dl
      %dt Finansowanie
      %dd= simple_format(@submission.funding)
  = link_to "Edytuj", edit_submission_path(@submission), class: %w{btn btn-primary btn-sm}
  %h3 Autorzy
  %table.table.table-hover.table-admin
    %thead
      %tr
        %th Nazwisko
        %th Korespondujący
        %th Liczba porządkowa
        %th
    %tbody
      - @submission.authorships.each do |authorship|
        %tr
          %td= link_to authorship.author, authorship.person
          %td= authorship.corresponding? ? raw("&#10004;") : ""
          %td= authorship.position
          %td.text-right
            = destroy_button(authorship,"Czy na pewno chcesz usunąć tego autora?")
  = link_to "Dodaj autora", new_authorship_path(submission_id: @submission.id), class: %w{btn btn-default btn-sm}
  %h3 Wersje
  %table.table.table-hover.table-admin
    %thead
      %tr
        %th Numer
        %th Plik
        %th Nadesłano
        %th Liczba stron
        %th Liczba ilustracji
        %th
    %tbody
      - @submission.article_revisions.each do |revision|
        %tr
          %td= revision.version
          %td
            - if revision.article?
              = link_to revision.file_name, revision.article.url
            - else
              = revision.file_name
          %td= revision.received_date
          %td= revision.pages
          %td= revision.pictures
          %td.text-right
            = destroy_button(revision,"Czy na pewno chcesz usunąć tę wersję wraz z recenzjami?")
  = link_to "Dodaj wersję", new_article_revision_path(submission_id: @submission.id), class: %w{btn btn-default btn-sm}
  %h3 Recenzje
  %table.table.table-hover.table-admin
    %thead
      %tr
        %th Wersja
        %th Recenzent
        %th Zapytanie
        %th Dealine
        %th Status
        %th
    %tbody
      - @submission.reviews.each do |review|
        %tr
          %td= review.version
          %td= link_to review.reviewer, review.person
          %td= review.asked.strftime("%d-%m-%Y")
          %td= review.deadline.strftime("%d-%m-%Y")
          %td{class: "#{Review::STATUS_MAPPING[review.status]}"}= link_to review.status, edit_review_path(review)
          %td.text-right
            = destroy_button(review,"Czy na pewno chcesz usunąć tę recenzję?")
  = link_to "Dodaj recenzenta", new_review_path(submission_id: @submission.id), class: %w{btn btn-default btn-sm}
