.scroll-panel-header
  = link_to "Anuluj", @article_revision.submission, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    = @article_revision.title
.scroll-panel-body
  = simple_form_for @article_revision do |f|
    = hidden_field_tag :submission_id, @article_revision.submission.id
    = f.input :accepted, as: :boolean, label: "Zatwierdź"
    = f.input :comment, label: "Komentarz"
    = f.submit "Dodaj", class: %w{btn btn-primary btn-outline}
