.scroll-panel-header
  = link_to "Anuluj", @article_revision.submission, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Dodaj wersję artykułu
    %strong
      = @article_revision.submission.title
.scroll-panel-body
  = simple_form_for @article_revision do |f|
    = hidden_field_tag :submission_id, @article_revision.submission.id
    = f.input :version, label: "Wersja"
    = f.input :code, label: "Kod"
    = f.input :article, label: "Artykuł"
    = f.input :received, label: "Otrzymano", as: :string
    = f.input :pages, label: "Liczba stron"
    = f.input :pictures, label: "Liczba ilustracji"
    = f.submit "Dodaj", class: %w{btn btn-primary btn-outline}

