%h3
  = "#{@review.salutation},"

%p
  W imieniu redakcji Rocznika Kognitywistycznego
  zwracam się z prośbą o sporządzenie recenzji
  artykułu:
  %br/
  %strong= "#{@review.submission_title}."

%p
  Streszczenie
  = "(#{@review.language_message}):"
  %br/
  %em= @review.abstract

%p
  Sugerowany maksymalny czas na sporządzenie recenzji to 2 miesiące.

%p
  Jeśli chce
  = @review.gender_name
  zrecenzować ten artykuł proszę kliknąć odnośnik:
  = link_to 'Akceptuję recenzję', accepted_form_public_review_url(@review)

%p
  Jeśli nie chce
  = @review.gender_name
  zrecenzować tego artykułu proszę kliknąć odnośnik:
  = link_to 'Nie akceptuję recenzji', rejected_form_public_review_url(@review)

%p
  Z wyrazami szacunku,
  %br/
  = @review.editor
  %br
  redaktor
  = link_to "Rocznika Kognitywistycznego", "http://rocznik.kognitywistyka.eu"
