.form-group.string
  = label_tag :version, "Wersja artykułu", class: %w{string control-label}
  .string=  @review.article_revision.version
= f.association :person, label: "Recenzent", label_method: :full_name, include_blank: false, collection: Person.order([:surname,:name]).all
= f.input :status, collection: Review::STATUS_MAPPING.keys
= f.input :asked, label: "Zapytanie wysłano", as: :string, input_html: { value: l(f.object.asked, format: "%d-%m-%Y") }
= f.input :deadline, label: "Deadline", as: :string, input_html: { value: l(f.object.deadline, format: "%d-%m-%Y") }
= f.input :remarks, label: "Uwagi"
