.scroll-panel-header
  = link_to "Anuluj", @review, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Edytuj recenzję
    %strong
      = @review.title
.scroll-panel-body
  = simple_form_for @review do |f|
    = hidden_field_tag :article_revision_id, @review.article_revision.id
    = render partial: "new_fields", locals: {f: f}
    = f.submit "Zapisz", class: %w{btn btn-primary btn-outline}
