.scroll-panel-header
  - redirect_object = @review.article_revision ? @review.submission : @review.person
  = link_to "Anuluj", redirect_object, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Utwórz recenzję
.scroll-panel-body
  = simple_form_for @review do |f|
    = hidden_field_tag :from, @from
    = f.association :article_revision, label: "Artykuł (wersja)", collection: ArticleRevision.order('received desc').limit(20), label_method: :title
    = f.association :person, label: "Recenzent", label_method: :reverse_full_name, include_blank: false, collection: Person.reviewers.order([:surname,:name]).all
    = render partial: "new_fields", locals: {f: f}
    = f.submit "Dodaj", class: %w{btn btn-primary btn-outline}
