.scroll-panel-header
  - redirect_object = @review.article_revision ? @review.submition : @review.person
  = link_to "Anuluj", redirect_object, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    Utwórz recenzję
.scroll-panel-body
  = simple_form_for @review do |f|
    - if @review.article_revision
      = hidden_field_tag :article_revision_id, @review.article_revision.id
    - if @review.person
      = hidden_field_tag :person_id, @review.person.id
    = render partial: "new_fields", locals: {f: f}
    = f.submit "Dodaj", class: %w{btn btn-primary btn-outline}
