.scroll-panel-header
  = link_to "Recenzje", reviews_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    = @review.title
.scroll-panel-body
  %dl
    %dt Zgłoszenie
    %dd= link_to @review.submission.title, @review.submission
  %dl
    %dt Status
    %dd{class: "#{Review::STATUS_MAPPING[@review.status]}"}= @review.status
  %dl
    %dt Recenzent
    %dd= link_to @review.person.full_name, @review.person
  %dl
    %dt Wysłano zapytanie
    %dd= @review.asked.strftime("%d-%m-%Y")
  %dl
    %dt Deadline
    %dd= @review.deadline.strftime("%d-%m-%Y")
  %dl
    %dt Treść recenzji
    %dd= simple_format(@review.content)
  %dl
    %dt Uwagi
    %dd= @review.remarks
  = link_to "Edytuj", edit_review_path(@review), class: %w{btn btn-primary btn-sm}
