.scroll-panel-header
  = link_to "Recenzje", reviews_path, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title
    = @review.title
  .scroll-panel-body
  %dl
  .col-sm-offset-1.col-sm-3.reviews_details
    %b Status
    %p.review{class: "#{Review::STATUS_MAPPING[@review.status]}"}= @review.status
  %dl
  .col-md-3.reviews_details
    %b Recenzent
    %p= link_to @review.person.full_name, @review.person
  %dl
  .col-md-3.reviews_details
    %b Wysłano zapytanie
    %p= @review.asked_date
  %dl
  .col-md-2.reviews_details
    %b Deadline
    %p= @review.deadline_date
  %dl
  .views_show
    %b Zgłoszenie
    %p= link_to @review.submission.title, @review.submission
  %dl
  .views_show
    %b Treść recenzji
    %p= simple_format(@review.content)
  %dl
  .views_show
    %b Uwagi dla redakcji
    %p= @review.remarks
  .views-button
  = link_to "Edytuj", edit_review_path(@review), class: %w{btn btn-primary btn-sm}
