  %h3.scroll-panel-title
    = @person.full_name
.scroll-panel-body
  = image_tag(@person.photo, alt:"#{@person.full_name} - zdjęcie")
  %dl
    %dt E-mail
    %dd= @person.email
  %dl
    %dt Płeć
    %dd= @person.sex
  %dl
    %dt Dyscypliny
    %dd= @person.discipline
  %dl
    %dt Kompetencje
    %dd= @person.competence
  %dl
    %dt Role w systemie
    %dd= @person.roles.join(", ")
  = link_to "Edytuj swoje dane", edit_profile_path(@profile), class: %w{btn btn-primary btn-sm}
