!!!
%html{style: "height: 100%;", lang: "pl"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}
    %title Kognitywistyka
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'storytime/application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.storytime{style: "height: 100%; margin: 0"}
    .container-lg.relative{style: "height: 100%"}
      %nav#dashbord-nav.nav-menu.nav-menu-default.nav-menu-fixed-left.off-canvas.off-canvas-left-sm.absolute
        .nav-menu-header.relative
          %a.nav-menu-brand{href: "/"} Rocznik Kognitywistyczny
        #storytime-main-menu
          %ul.nav.nav-menu-nav
            %li= link_to "Osoby", people_path
            %li= link_to "Zgłoszone artykuły", submitions_path
            %li= link_to "Recenzje", reviews_path
      #main
        = yield
