!!!html5
%html{style: "height: 100%;", lang: "pl"}
  = render file: "shared/head"
  %body{style: "height: 100%"}
    .page-container
      %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
        = render file: "shared/topnav"
      .flash
        = render file: "shared/flash"
      .container.middle-row
        .row.row-offcanvas.row-offcanvas-left
          #sidebar.col-sm-4.col-md-3.sidebar-offcanvas{:role => "navigation"}
            = render file: "shared/sidenav"
          .col-md-9.col-sm-8.main
            = yield
      %footer.navbar.navbar-default.navbar-fixed-bottom
        = render file: "shared/footer"
      = render file: "shared/js_footer"
