!!!html5
%html{style: "height: 100%;", lang: "pl"}
  = render file: "shared/head"
  %body{style: "height: 100%"}
    .page-container
      %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
        = render file: "shared/topnav"
      .flash
        - if flash[:error]
          .flash-error= flash[:error]
      .container.middle-row
        .row.row-offcanvas.row-offcanvas-left{style: "height: 100%"}
          #sidebar.col-sm-4.col-md-3.sidebar-offcanvas{:role => "navigation"}
            = render file: "shared/sidenav"
          .col-md-9.col-sm-8.main
            = yield
        %footer
          %p
            %a{:href => "http://validator.w3.org/check?uri=http%3A%2F%2Frocznik.kognitywistyka.eu%2F"}
              Walidator HTML5
            /%a{:href => "http://jigsaw.w3.org/css-validator/validator?uri=http://kognitywistyka.eu/"}
            /Valid CSS
            |
            %a{:href => "http://www.apohllo.pl", :target => "_blank"}
              Administrator
      :javascript
        $('.flash').fadeOut(2000,function(el){ el.hide(); })
